@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-image: url(./assets/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#gameDiv {
    margin-top: 2rem;
}

#scoreOuter {
    display: inline-block;
    margin: 2rem 0;
    /* font-weight: bold; */
    font-size: 25px;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 0.4rem;
    text-align: left;
    font-family: 'Press Start 2P', cursive;
}

#score {
    display: inline-block;
}

#futurePiece1, #futurePiece2, #futurePiece3 {
 display: block;
 margin: 2rem;
}