<!DOCTYPE html>

<html>
    <head>
        <title>Multiplayer</title>
        <link rel="stylesheet" href="chat.css">
    </head>

    <body>
        <div class="controls-wrapper">
            <ul id="events"></ul>
            <div class="controls">
                <div class="chat-wrapper">
                    <form id="chat-form">
                        <input type="text" autocomplete="off" id="chat" title="chat"/>
                        <button id="say">Say</button>
                    </form>
                </div>
            </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="chat.js"></script>
    </body>
</html>