<!DOCTYPE html>

<html>

<head>
    <title>Tetris</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="./team.css" />
</head>

<body>

    <div class="container-fluid">
        <h1 class="mainheading">Our Team</h1>

        <div class="row">
            <div class="col-md-6 col-lg-4 from-top">
                <img src="./assets/tanvee.jpg" height="300" width="300" class="image">
                <p class="name">Tanvee Balhara</p>
                <a href="https://www.linkedin.com/in/tanvee-balhara/"><img src="./assets/linkedin.png" height="50" class="icons"></a>
                <a href="https://www.instagram.com/tanvee_balhara/"><img src="./assets/instagram.png" height="50" class="icons"></a>
                <a href="mailto:balharatanvee@gmail.com"><img src="./assets/gmail.png" height="50" class="icons"></a>
            </div>
            <div class="col-md-6 col-lg-4 from-bottom">
                <img src="./assets/divyansh.png" height="300" width="300" class="image">
                <p class="name">Divyansh Tyagi</p>
                <a href="https://www.linkedin.com/in/divyansh-tyagi-272840154/"><img src="./assets/linkedin.png" height="50" class="icons"></a>
                <a href="https://www.instagram.com/deby.divyansh/"><img src="./assets/instagram.png" height="50" class="icons"></a>
                <a href="mailto:divyansh1107@gmail.com"><img src="./assets/gmail.png" height="50" class="icons"></a>
            </div>
            <div class="col-md-6 col-lg-4 from-top">
                <img src="./assets/shivam.png" height="300" width="300" class="image">
                <p class="name">Shivam Tyagi</p>
                <a href="https://www.linkedin.com/in/shivam-tyagi-8b7b41186/"><img src="./assets/linkedin.png" height="50" class="icons"></a>
                <a href="https://www.instagram.com/maybeshivam/"><img src="./assets/instagram.png" height="50" class="icons"></a>
                <a href="mailto:st.shivamtyagi@gmail.com"><img src="./assets/gmail.png" height="50" class="icons"></a>
            </div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>