body {
    background-image: url(./assets/bgTetrisBlocks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

td {
    font-size: larger;
}

.table-hover tbody tr:hover td {
    background: rgb(224, 224, 36);
}

tbody {
    color: white;
}